footer{
    height: 20rem;
    width: 100%;
    background-color: #D63E4D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
    flex-shrink: 0;
}

.footer{
    text-align: left;
    margin-left: 0.8rem;
    width: 45%;
    font-size: 0.8rem;
    line-height: 1.5;
    font-family: var(--fonte-KiwiMaru);
}

.footer2{
    text-align: center;
    width: 95%;
    font-size: 0.8rem;
    line-height: 1.5;
    font-family: var(--fonte-KiwiMaru);
}

.footer-titulo{
    font-size: 1rem;
}

.footer-rede-social{
    margin-left: 1rem;
    margin-top: 1rem;
    height: 2.5rem;
}

.footer-rede-social:hover{
    height: 2.8rem;
}

.btn-whatsapp-fixo{
    position: fixed; /* Fixa o header na posição especificada */
    bottom: 0; /* Fixa o header no topo da página */
    right: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #FA3347;
    background-image: url('/img/whats-branco.png');
    background-repeat: no-repeat;
    display: flex;
    background-position: center; 
    margin: 0.5rem;
    z-index: 3;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.199);
}

@media screen and (max-width: 350px) {
    .footer{
        font-size: 0.7rem;
    }
    .footer2{
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 600px) {
    footer{
        height: 16rem;
    }
    .footer{
        width: 30%;
    }
}

@media screen and (min-width: 1100px) {
    footer{
        height: 15rem;
    }
    .footer{
        width: 20%;
    }
    .footer2{
        width: 70%;
    }
}
