.sobre{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre-titulo{
    font-size: var(--tamanho-fonte-titulo);
    font-family: var(--fonte-Niconne);
    text-align: center;
    margin: 3rem;
}

.sobre-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.sobre-conteudo img{
    height: 20rem;
    margin-bottom: 2rem;
}

.sobre-escrito{
    text-align: center;
    margin: 0.5rem 2.5rem 0rem 2.5rem;
    font-size: 1.1rem;
    font-family: var(--fonte-Lancelot);
}